<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base target="_blank" />

  <title class="pageTitle">{{ site.page_title }}</title>
  <meta name="description" content="{{ site.app_description }}" />

  <link rel="shortcut icon" href="{{ site.app_icon }}" />

  <!-- Smart App Banner -->
  {% if site.enable_smart_app_banner %}
  <meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}" />
  {% endif %}

  <script
    rel="stylesheet"
    src="https://kit.fontawesome.com/84fe1b164b.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="/main.css" />
  <link rel="stylesheet" href="main.css" />
  <link rel="stylesheet" href="../main.css" />
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function(m, e, t, r, i, k, a) {
      m[i] =
        m[i] ||
        function() {
          (m[i].a = m[i].a || []).push(arguments);
        };
      m[i].l = 1 * new Date();
      (k = e.createElement(t)),
        (a = e.getElementsByTagName(t)[0]),
        (k.async = 1),
        (k.src = r),
        a.parentNode.insertBefore(k, a);
    })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(57661906, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true,
      webvisor: true
    });
  </script>
  <noscript>
    <div>
      <img
        src="https://mc.yandex.ru/watch/57661906"
        style="position:absolute; left:-9999px;"
        alt=""
      />
    </div>
  </noscript>
  <!-- /Yandex.Metrika counter -->
</head>
